<!--
 ! Adapted by Carlos Bazilio (@carlosbazilio) from ...
 ! Excerpted from "Seven Web Frameworks in Seven Weeks",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/7web for more book information.
-->
<!doctype html>
<html lang="en" ng-app="BasicApp"> <!-- (1) -->
  <head>
    <meta charset="utf-8">
    <title>Basic AngularJS Todo</title>
  </head>
  <body ng-controller="BasicController"> <!-- (2) -->
      
    <h2>AngularJS ToDo App</h2>

    <div>
      What is your name?
      <input type="text" ng-model="greeter.name"> <!-- (3) -->
    </div>
    <div>
      {{greeter.greeting()}} <!-- (4) -->
    </div>

    <div>
      What do you have to do?
      <input type="text" ng-model="liker.thing" ng-keyup="liker.liking($event)"><button ng-click="liker.liking()">OK</button>
		
	  <!--input ng-keypress="count = count + 1" ng-init="count=0"> Key press count: {{count}}-->
    </div>

    <div>
      {{liker.things}}
	  <ul>
	    <li ng-repeat="t in liker.things" ng-click="liker.disliking($event)">
	      {{ t }}
	    </li>
	  </ul>
    </div>

  </body>
  <!--script src="basicfiles/angular.js"></script> <-- (5) -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="index.js"></script>
</html>

